@import "tailwindcss";

:root {
  --background: #F8F6F0;
  --foreground: #102A1D;
  
  --color-primary-green: #0a1f14;
  --color-secondary-green: #113120;
  --color-accent-gold: #cba36f;
  --color-accent-gold-dark: #b8915e;
  --color-beige: #F8F6F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary-green);
  --color-secondary: var(--color-secondary-green);
  --color-accent: var(--color-accent-gold);
  --color-accent-dark: var(--color-accent-gold-dark);
  --color-beige: var(--color-beige);

  --font-sans: var(--font-montserrat), sans-serif;
  --font-serif: var(--font-playfair), serif;
  --font-script: var(--font-great-vibes), cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-gold {
  color: var(--color-accent);
}
.border-gold {
  border-color: var(--color-accent);
}
.bg-gold {
  background-color: var(--color-accent);
}
.bg-dark-green {
  background-color: var(--color-primary);
}
.bg-secondary-green {
  background-color: var(--color-secondary);
}
